.env
.*/

# used for building imagew, but not needed inside the images
docker

# This needs to be discussed.
# At this point the tests are ran locally by developer (see `make start-dev`)
# and are NOT included in the build. At some point we may want to
# build a derivative image (based on prod image) that adds tests folder
# and runs the tests in the cloud, but that does not have to be
# baked into the image. Base image can just be ran with /tests mounted
# into it and ran as such... anyway, excluding for now.
tests

# IDEs artifacts
.idea

# The dynamodata directory is sticking around so that you keep local dynamodb
# data between restarts of the stack / dev environment. We do not want to pack
# this into our images
dynamodata

# The s3 directory is sticking around so that you keep local s3 data between
# restarts of the stack / dev environment. We do not want to pack this into our
images
s3data
